<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>REC Sonbhadra</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" >
    <style >
    .bs-example{
       // margin-top: 20px;
    }

</style>
</head>
<body>
<div class="bs-example">


    <nav class="navbar navbar-expand-md navbar-light bg-info">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{%url 'index'%}" class="nav-item nav-link "style="color:white;">Home</a>
                <a href="{%url 'about'%}" class="nav-item nav-link active" >About Us</a>
                <a href="{%url 'registration'%}" class="nav-item nav-link" style="color:white;">Registration</a>
                <a href="{%url 'enquiry'%}" class="nav-item nav-link" style="color:white;">Enquiry</a>
            </div>
            <div class="navbar-nav ml-auto">
                   </div>
        </div>

    </nav>
  <div class="container-fluid">
    <div class=" row " style="height:160px;"><img src="{%static 'images/logo.jpg'%}"/><b style="margin-left:20px; font-size:4vw;line-height:150px;">REC Sonbhadra</b></div></div>

<div class="container-fluid" style="min-height:50px;">
<div class="row" style="min-height:400px;background-color:black;">


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/slider3.jpg' %}" alt="slider1"  style="height:400px;width:100%;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slider2.jpg'%}" alt="slider2"  style="height:400px;width:100%;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slider1.png' %}" alt="slider3"  style="height:400px;width:100%">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
<div class="row" id="parent">

     <div class="col-sm-4" id="left">
<marquee direction="up" height="400px" onmouseover="stop()" onmouseout="start()">
             {% for n in nf %}
                  <div style="background:white;border:2px solid black;margin-top:3px;">
             <span style="text-align:center">
             <p style="color:black;font-size:20px;">{{n.notificationtext}}</p>
             <p>{{n.posteddate}}</p>
                 </span>
                     </div>
             {% endfor%}
                 </marquee>
    </div>
<div class="col-sm-8" id="main" style="">
  <center>
      <h1 style="color:black"><u>REC Sonhadra</u></h1>
  <p>
      Rajkiya Engineering College,Sonbhadra was established by the Government of Uttar Pradesh in the year 2015 with one branch, Computer science & engineering with annual intake of Sixty (60). Later on in 2016 two new branches Electrical Engineering and Electronics Engineering with intake of 60 each have been started. The college has been shifted to its own fully residential campus located at Churk, Robertsganj, Sonbhadra in the month of July 2017 and all academic activities from the session 2017-18 is running from its own campus. Fully residential campus consists of two Academic Buildings, Administrative building, Workshop, Hostels (Boys and Girls), Student Activity Center, College Canteen, Grocery Store, round the clock electricity & water supply and other facilities for recreation.</p>
    </center>
</div>

</div>
    <div class="row" id="footer">
        <div class="col-sm-6" id="lfooter">
            Copyright&copy; &nbsp; to REC Sonbhadra
        </div>
          <div class="col-sm-6" id="rfooter">
          Developed by
        </div>
    </div>
</div>
</div>
</body>
</html>