<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css'%}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<style >

</style>
</head>

<body class="animsition">
<script>

    $(document).ready( function () {
    $('#ta').DataTable();
} );

</script>
{%load static %}

    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>

                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">

                <h2><b>REC Admin</b></h2>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                         <li>
                            <a href="{%url 'teachers:home'%}">
                                <i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-user-o"></i>Registration</a>

                        </li>
                         <li>
                            <a href="#">
                                <i class="fa fa-cube"></i>Change Password</a>
                        </li>


                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                         <li>
                            <a href="{%url 'about'%}">
                                <i class="far fa-check-square"></i>About</a>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fa fa-question-circle"></i>Help</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                   <div class=" row container-fluid " style="width:1200px;height:100px;padding-left:16px;"><img src="{%static 'images/icon/rec2.png'%}"/></div>
                <div class="section__content section__content--p30">



                    </div>

            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12" align="center">
                                <div class="overview-wrap" align="center">
                                    <h2 class="title-1"><button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi"></i>Smart Attendance Management System Using Facial Recognition</button></h2>

                                </div>

                            </div>
                        </div>
                        <div class="row m-t-25">
  <div class="col-lg-12">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table  table-striped table-earning">
                                        <thead>
                                            <tr>
                                             <th>Subject Name</th>
                 <th>Branch</th>
                 <th>Semester</th>
                 <th>Subject Code</th>
                 <th>Teacher's Name</th>
                 <th>Student Group</th>
                 <th>Take Attendance</th>
                 <th>View Attendance</th>
                 <th>Download Attendance</th>
                                            </tr>
                                        </thead>



           {% for e in st%}

          <tbody class="table-hover">

               <tr class="table-primary" style="text-align:center">
                   <td><h6 ><b>{{e.subjectname}}</b></h6></td>
                   <td><h6 ><b>{{e.dept}}</b></h6></td>
                   <td><h6 ><b>{{e.semester}}</b></h6></td>
                   <td><h6 ><b>{{e.subjectcode}}</b></h6></td>
                   <td><h6 ><b>{{e.teachername}}</b></h6></td>
                   <td><h6 ><b>{%ifequal e.studentgroup ''%}
                       <a href="{%url 'teachers:createstudentgroup' e.id%}">Add Student Group</a>
                       {%endifequal%}
                       {{e.studentgroup}}
                      </b></h6> </td>

                   <td><form method="post" action="{% url 'teachers:attend' %}">

    {% csrf_token %}
 <input type="hidden" name="attendanceId" value="{{e.id}}">
                       <button type="submit" name="attend"><h6 style="color:Blue;"><b>Attendance</b></h6></button>
                       <br/>
                     <h6 style="font-size:10px;margin:0px;padding:0px 0px 0px 0px;"><b>Last Taken At</b></h6>
                       <h6 style="font-size:10px;margin:0px;padding:0px 0px 0px 0px;"><b>{{e.attendanceDateTime}}</b></h6>

</form></td>
                   <td>
                       <form action="{%url 'teachers:viewattendance'%}" method="post">
           {%csrf_token%}
           <input type="hidden" name="viewAttendance" value="{{e.id}}"/>
                           <button type="submit" name="viewattendence"><h6 style="color:Blue;"><b>View Attendance</b></h6></button>
       </form>
                   </td>
                     <td><h6 ><b>
                       <form action="{%url 'teachers:download'%}" method="post">
           {%csrf_token%}
           <input type="hidden" name="download" value="{{e.id}}"/>
                           <button type="submit" name="Download"><h6 style="color:Blue;"><b>Download Attendance</b></h6></button>
       </form>
                     </b></h6> </td>
               </tr>

          </tbody>


{%endfor%}




                                    </table>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="table-responsive" class="container-fluid">
      {%if excel_data is not None%}
    <h2 align="center">Attendances</h2>
     <table id="ta" border="1" style="width:100%" class="table">

         <thead>

             <td>Roll number</td>
             <td>Student Names</td>
             {% for p in dates %}
             <td>{{p}}</td>
             {%endfor%}

         </thead>

 <tbody class="table-hover">
 {% for row in excel_data %}
<tr class="table-primary" style="text-align:center;">
        {% for cell in row %}
    {%ifnotequal cell 'None'%}<td style="background-color:light-green;">{{cell}}</td>{%else%}<td style="background-color:pink;">{{'A'}}</td>{%endifnotequal%}
               {% endfor %}

</tr>
 {% endfor %}
 </tbody>

     </table>
    {%endif%}
</div>

                            </div>

                        </div>
                               <div class="row">

                            <div class="col-md-12" align="center">
                                <div class="overview-wrap" align="center">
                                    <h2 class="title-1"><button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi"></i> <a style="color:white" href="{%url 'teachers:awesome_method'%}">Remind Students with Short Attendances</a></button></h2>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 REC Sonbhadra, All rights reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js'%}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>
